{{ define "header" }}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOB</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            width: 30em;
            margin: 0 auto;
        }

        .centered {
            text-align: center;
        }
    </style>
</head>

{{ end }}