<html>

{{ template "header" }}

<style>
    input[type=button],
    input[type=submit],
    input[type=reset]{
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        font-size: 1em;
    }
    textarea {
        width: 100%;
        margin-bottom: 1em;
    }

    .submit-btn {
        background-color: #4CAF50;
    }
</style>

<script>
    function logout() {
        document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location = "/logout";
    }
</script>

<div class="container centered">
    <img class="avatar" src="{{ .picture }}"/>
    <h2>Welcome {{ .name }}</h2>
    <button onclick="logout()">Logout</button>

    <form action="/submit" method="post">
        <label>
            <textarea name="letter" cols="50" rows="25" autofocus></textarea>
        </label>
        <br/>
        <input type="submit" name="submit" value="Save Draft" />
        <input class="submit-btn" type="submit" name="submit" value="Submit" />
    </form>
</div>

</html>